* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.row {
    width: 100%;
    padding: .5em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    border: solid .1em;
    background-color: #e1e1e1;
    float: left;
    padding: 1em;
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-fourth {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-eighth {
    width: 12.5%;
}

footer {
    padding: 1em 0 0 0;
}

@media screen and (max-width: 768px) {
    .column.one-half, .column.one-third, .column.one-fourth, .column.one-sixth, .column.one-eighth {
        width: 100%;
    }
}
