/*.nav-item:hover {*/
/*background-color: #271b87;*/
/*}*/

.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: 100%;
}

.jumbotron h1 {
    color: hsla(35, 16%, 36%, 0.8);
    background: hsla(360, 100%, 100%, 0.66);
}

.navbar-brand {
    color: rgba(0, 0, 0, .5) !important;
}