* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-flow: column;
    padding: 1em;
}

.row {
    display: flex;
    width: 100% !important;
}

.col {
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.hidden {
    display: none;
}

.center {
    justify-content: center;
}

#map {
    height: 400px;
    width: 600px;
    position: absolute;
    left: 400px;
    top: 100px;
}